<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
{% endblock head %}
<body>
<table>
<tr>
<td><a href="/board">Board</a></td>
<td><a href="/users">Users</a></td>
</tr>
</table>
{% block body %}
{% endblock body %}
</body>
</html>