{% extends "base.jinja2" %}
{% block body %}
<div id="comment">
    <form action="/post" method="POST">
        <input type="text" name="content"/><br/>
        <input type="submit" value="post" />
    </form>
</div>
{% for post in posts %}
    <div id="post" style="border: thin solid black;">
    <p>
    {% if request.user == post.user %}
    You: {{ post.get_content_with_urls()|safe }}
    {% else %}
    {{ post.user.username }}: {{ post.get_content_with_urls()|safe }}
    {% endif %}
    </p>
    </div>
{% endfor %}
{% endblock body %}
